body{
    margin: 0px;
}
.header{
    margin: 0px;
    display: flex;
    height:170px;
    width: 100%;
}
/* header images Styling*/
.header #m1{
    position:relative;
    height: 170px;
    width: 100%;
    box-shadow: 0 10px 6px -6px #777;
}

/* scroller */
.scroller{
    margin: 15px 10px 0px 10px;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 3px;
    color: red;
    font-size: 20px;
    height: 25px;
}

/* container Styling*/
.container{
    margin:0px;
    display: flex;
    width: 100vw;
}
.active.container {
    filter: blur(5px) brightness(0.7);
  }
 
/* buttons styled */
.btn-cont{
    display: flex;
    width: 29.3%;
}
.btn{
    display: flex;
    flex-direction: column;
    margin: 15%;
    text-align: center;
    
}
.btn a{
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    padding: 8px 8px 8px 8px;
    color:white ;
    width: 230px;
    border-radius: 3px;
    margin-left: 25%;
}
.btn #a1{
    background-color: green;
}
.btn #a2{
    background-color: gray;
}
.btn #a3{
    background-color: purple;
}
.btn #a4{
    background-color: orangered;
}
.btn #a5{
    background-color: orange;
}
.btn a:hover{
    font-size: 18px;
    
}
   
/* gallery styling*/
  
    
.img-cont{
    display: flex;
    width: 41.3%;
}
.slider-container {
    position: relative;
    width: 800px;
    height: 300px;
    margin: 15%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .image-container {
    display: flex;
    width: 500px;
    height: 300px;
    transition: transform 0.4s ease-in-out;
  }
 .image-container img{
    width: 500px;
    height: 300px;
 }
 
 /* login styling*/
 .login-cont{
    display: flex;
    width: 29.3%;
 }
 .login{
    display: flex;
    margin: 15% ;
    height: 70%;
    width: 60%;
    border-radius: 10px;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }
 .login h1{
    font-size: 20px;
    text-align: center;
    color: blue;
 }
.login form{
    display: flex;
    flex-direction: column;
}
.login label{
    font-size: 20px;
}
.login button{
    background-color: blue;
    color: white;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
}
.login button:hover{
    cursor: pointer;
}
/* singer serive download Styling*/

/* locate medical store Styling*/
.popup-container  {
    position:fixed;
    left: 40%;
    transform: translateX(-50%);
    background-color: white;
    width: 500px;
    height: 300px;
    margin: 10%;
    top: 10%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;
  }
  .popup-container h1{
    font-size: 20px;
    text-align: center;
    color: blue;
 }
 .popup-container form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.popup-container label{
    font-size: 20px;
}
.popup-container button{
    background-color: blue;
    color: white;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
}
.close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  
  .close-icon:hover {
    color: orangered;
  }
  
  .active.popup-container {
    display: none;
    opacity: 0;
    top: 10%;
  }
  
 /* login styling*/
 .login-cont{
    display: flex;
    width: 29.3%;
 }
 .login{
    display: flex;
    margin: 15% ;
    height: 70%;
    width: 60%;
    border-radius: 10px;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }
 .login h1{
    font-size: 20px;
    text-align: center;
    color: blue;
 }
.login form{
    display: flex;
    flex-direction: column;
}
.login label{
    font-size: 20px;
}
.login button{
    background-color: blue;
    color: white;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 5px;
}
/* no of standard quality drugs form styling*/
.popup-containerl  {
    position:fixed;
    left: 35%;
    transform: translateX(-50%);
    background-color: white;
    width: 1300px;
    height: 300px;
    margin: 15%;
    overflow: hidden;
    top: 10%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;
  }
  .popup-containerl h1{
    font-size: 20px;
    text-align: center;
    color: blue;
 }
 .popup-containerl form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.popup-containerl form label{
    font-size: 15px;
}
.popup-containerl form input{
    height: 20px;
    width: 180px;
    box-sizing: border-box;
}
.popup-containerl form .inputF1{
    display: flex;
    margin: 15px;
}
.popup-containerl form .inputF1 .field1{
    margin: 10px;
}
.popup-containerl form .inputF2 .field2{
    margin: 10px;
}
.popup-containerl form .inputF2{
    display: flex;
    margin: 15px;
}
.popup-containerl label{
    font-size: 20px;
}
#search {
    background-color: blue;
    color: white;
    width: 100px;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
}
#reset{
    background-color: orangered;
    color: white;
    width: 100px;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
}
.close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  
  .close-icon:hover {
    color: orangered;
  }
  
  .active.popup-containerl {
    display: none;
    opacity: 0;
    top: 10%;
  }
/* Digital signer service styling*/
.wd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wd .w1{
    margin: 30px;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
/* header images Styling for screen size less than 600px*/
@media only screen and (max-width: 600px) {
    .header{
        margin: 0px;
        display: flex;
        height:80px;
        width: 100%;
    }
    .header #m1{
        position:relative;
        height: 80px;
        width: 100%;
        box-shadow: 0 10px 6px -6px #777;
    }
}
/* scroller Styling for screen size less than 600px*/
@media only screen and (max-width: 600px) {
    .scroller{
        margin: 8px 4px 4px 4px;
        box-shadow: 0 10px 6px -6px #777;
        border-radius: 3px;
        color: red;
        font-size: 20px;
        height: 25px;
    }
}
/* container Styling for screen size less than 600px*/
@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}
/* container Styling for screen size less than 600px*/
@media only screen and (max-width: 600px) {
    .btn a{
        text-decoration: none;
        margin: 5px 5px 5px 5px;
        padding: 4px 4px 4px 4px;
        color:white ;
        width: 230px;
        border-radius: 3px;
        margin-left: 22%;
    }
} 
/* container Styling for screen size less than 600px*/
@media only screen and (max-width: 600px) {
    .img-cont{
        display: flex;
        width:500px;

    }
    .slider-container {
        position: relative;
        width: 500px;
        height: 250px;
        margin: 15%;
        overflow: hidden;
        right: 14%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
      .image-container {
        display: flex;
        width: 500px;
        height: 300px;
        transition: transform 0.4s ease-in-out;
      }
     .image-container img{
        width: 500px;
        height: 300px;
     }
}
/*login Styling for screen size less than 600px*/
@media only screen and (max-width: 600px) {
    .login-cont{
            display: flex;
            width: 500px;
     }
     .login{
        position: relative;
        width: 500px;
        height: 250px;
        margin: 15%;
        overflow: hidden;
        right: 14%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
     }
}
/* apply Styling for screen size less than 600px*/
@media only screen and (max-width: 600px) {

    .popup-container {
        position:fixed;
        width: 250px;
        height: 600px;
        margin: 15%;
        overflow: hidden;
        left: 10px;
        border-radius: 10px;
        left: 23%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
      .popup-container h1{
        font-size: 20px;
        text-align: center;
        color: blue;
        margin-top: 30%;
     }
     .popup-container form{
        display: flex;
        height: 100vh;
        justify-content: center;
        padding: 3px;
        flex-direction: column;
    }
    .popup-container form label{
        float: left;
        margin: 10px;
    }
    .popup-container label{
        font-size: 20px;
    }
    .popup-container button{
        background-color: blue;
        color: white;
        width: 100px;
        border: none;
        height: 30px;
        border-radius: 5px;
    }
    .close-icon {
        position: absolute;
        right: 20px;
        cursor: pointer;
      }
      
      .close-icon:hover {
        color: orangered;
      }
      
      .active.popup-container {
        visibility: hidden;
        opacity: 0;
        top: 10%;
      }
}
/* no of standard for screen size less than 600px*/
@media only screen and (max-width: 600px) {
.popup-containerl  {
        position:fixed;
        width: 250px;
        height: 600px;
        margin: 15%;
        overflow: hidden;
        left: 22%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position:fixed;
    transform: translateX(-50%);
    background-color: white;
    margin: 15%;
    overflow: hidden;
    top: 10%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-size: cover;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.7s;
  }
  .popup-containerl h1{
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    color: blue;
 }
 .popup-containerl form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.popup-containerl form label{
    font-size: 15px;
    margin: 5px;
}
.popup-containerl form input{
    height: 20px;
    width: 120px;
    box-sizing: border-box;
}
.popup-containerl form .inputF1{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.popup-containerl form .inputF1 .field1{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.popup-containerl form .inputF2 .field2{
    margin: 12px;
}
.popup-containerl form .inputF2{
    display: flex;
    flex-direction: column;
    margin: 12px;
}
.popup-containerl label{
    font-size: 20px;
}
#search {
    background-color: blue;
    color: white;
    width: 100px;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
}
#reset{
    background-color: orangered;
    color: white;
    width: 100px;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
}
.close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  
  .close-icon:hover {
    color: orangered;
  }
  
  .active.popup-containerl {
    display: none;
    opacity: 0;
    top: 10%;
  }
}